<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prism.css">
    <title>Révision sur les formulaires</title>
</head>
<body>
    <div class="container">
        <h1>Affichage du formulaire en GET</h1>
        <p>Nom saisi dans le formulaire : <strong><%= user.nom %></strong> </p>
        <p>Mot de passe saisi dans le forumaire : <strong><%= user.mdp %></strong></p>
        <a href="/"><input type="button" value="Accueil"></a>
    </div>
</body>
<script src="/js/prism.js"></script>
</html>